.App {
  text-align: center;
  margin-inline: 6rem;
  margin-top: 1rem;
  border: inset;
  border-width: 10px;
  border-color: black;
  border-style: solid;
  border-radius: 2rem;
}
.App-link {
  color: #61dafb;
}
.app-header {
  background-color: red;
  margin-top: 0rem;
  
}
.app-header-subtitle {
  background-color: greenyellow;
}

.customer-action {
  background-color: green;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.details {
  background: #999;
  height: 85vh;
  width: calc(100% - 40px);
  overflow: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 64em) {
  .details {
    height: 50vh;
  }
}
